@charset "UTF-8";

@font-face {
  font-family: MajesticPersonalUseRegular;
  font-display: swap;
  src: url("../fonts/MajesticPersonalUseRegular-ZVP3B.woff2") format("woff2"), url("../fonts/MajesticPersonalUseRegular-ZVP3B.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: BillieSightPersonalUse;
  font-display: swap;
  src: url("../fonts/BillieSightPersonalUse.woff2") format("woff2"), url("../fonts/BillieSightPersonalUse.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: MajesticPersonalUseRegular;
  font-display: swap;
  src: url("../fonts/MajesticPersonalUseRegular-ZVP3B.woff2") format("woff2"), url("../fonts/MajesticPersonalUseRegular-ZVP3B.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: BillieSightPersonalUse;
  font-display: swap;
  src: url("../fonts/BillieSightPersonalUse.woff2") format("woff2"), url("../fonts/BillieSightPersonalUse.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-envelope-icon:before {
  content: "\e900";
}

._icon-phone-icon:before {
  content: "\e901";
}

._icon-basket-shopping:before {
  content: "\e902";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Times New Roman";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Times New Roman";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 90rem;
  margin: 0 auto;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.no-webp header{
  background-image: url("../img/header.jpg"); }

header {
  background-repeat: no-repeat;
  background-size: cover;
  height: 530px;
}

.top-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5);
  height: 5rem;
}

.top-credentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
}

.top-mail,
.top-phone,
.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  color: #fff;
}

p {
  color: #fff;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #e04539;
  width: 8.125rem;
  height: 3.125rem;
  border-radius: 10%;
}

.top-panel .top-panel__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.top-mail,
.top-phone,
.cart {
  font-size: 1rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-top: 25px;
}

.wrapper-site-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: rgba(166, 69, 203, 0.5);
  width: 750px;
  height: 400px;
  padding: 2.5rem;
  border-radius: 3.125rem;
}

.site_name h1 {
  font-size: 1.875rem;
  font-family: MajesticPersonalUseRegular;
  color: #fff;
  font-size: 5.625rem;
}

.arts {
  position: absolute;
  top: 30%;
  font-family: "BillieSightPersonalUse";
  color: #fff;
  font-size: 7.125rem;
}

.slogan {
  font-size: 2.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}

.site_name h1,
.arts,
.slogan {
  text-shadow: 0px 0px 12px rgba(0, 16, 49, 0.58), 0px 0px 13px rgba(0, 16, 49, 0.58);
}

.logo-img {
  -ms-flex-item-align: self-start;
      -ms-grid-row-align: self-start;
      align-self: self-start;
}

.logo-img img {
  height: 300px;
  position: absolute;
  top: 40%;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.no-webp footer{
  background-image: url("../img/footer.png"); }

footer {
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

.site-name-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mail-footer,
.site-name-footer,
.phone-footer {
  background-color: rgba(166, 69, 203, 0.5);
  border-radius: 20px;
}

.mail-footer,
.phone-footer {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}

.site-name-footer {
  height: 240px;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}

.site-name-footer .site-name {
  font-family: MajesticPersonalUseRegular;
  text-shadow: 0px 0px 12px rgba(0, 16, 49, 0.58), 0px 0px 13px rgba(0, 16, 49, 0.58);
  font-size: 40px;
}

.arts-footer {
  font-family: "BillieSightPersonalUse";
  text-shadow: 0px 0px 12px rgba(0, 16, 49, 0.58), 0px 0px 13px rgba(0, 16, 49, 0.58);
  margin-top: 30px;
  font-size: 70px;
}

.webp header{ background-image: url(../img/header.webp); }

.webp footer{ background-image: url(../img/footer.webp); }