.inner_carousel a {
	text-decoration: none;
	font-size: 100px;
	font-weight: 300;
	font-family: "majestic_personal_useregular";
	color: rgb(255, 255, 255);
	line-height: 1.2;

	/* text-shadow: 50px 0px 0px rgba(1, 33, 99, 0.58); */
	/* text-shadow: 0px 0px 10px rgba(1, 33, 99, 0.58); */

	/* filter: blur(5px); Размытие тени */
}

.inner_carousel h1 {
	text-shadow: 6px 12px 20px rgba(1, 33, 99, 0.58);
}

.arts {
	text-shadow: 9px 11px 10px rgba(1, 33, 99, 0.58);
}

.harmony {
	/* text-shadow: -5px 6px 9px rgba(1, 33, 99, 0.58); */
	text-shadow: 0px 0px 12px rgba(0, 16, 49, 0.58), 0px 0px 13px rgb(0, 16, 49, 0.58);
}

.inner_carousel .more-btn {
	display: none;
}

/* h1.slideInRight {
	background: rgb(166, 68, 185, 0.5);
	height: 400px;
	width: 80%;
	padding-top: 50px;
	border-radius: 5%;
	position: absolute;
	left: -50%;
	top: -25%;
}

#slider .inner_carousel h1 {
	text-align: center;
	left: 20% !important;
	right: 0% !important;
} */

#slider .carousel-caption,
#slider .inner_carousel,
#slider .inner_carousel h1 {
	text-align: center;
	left: 20%;
	/* right:20%; */
}

#slider .inner_carousel h1 {
	background: rgb(166, 68, 185, 0.5);
	height: 400px;
	width: 80%;
	padding-top: 10px;
	border-radius: 5%;
}

.arts {
	font-family: "billie_sight_personal_useRg";
	font-size: 100px !important;
	text-transform: none !important;
}

p.slideInRight {
	position: absolute;
	top: 80%;
	left: 30%;
}

p.harmony {
	font-family: "Times New Roman";
	font-size: 40px !important;
	font-weight: 600 !important;
}
